

.body-color {
    background-color: LightSkyBlue;
}

.cookieButton {
    display: block;
    margin: auto;
    font-size: 24px;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    background-color: brown;
    border: 3px solid black;
    border-radius: 50%;
    color: black;

}

.counter-location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

.href-margin {
    margin-left: 30px;
    text-decoration: none;
}

.hr-margin {
    margin-left: 30px;
    margin-right: 30px;
}

.mouseenter1 {
    margin-top: 95px;
    width: 205px;
    height: 205px;
}

.counter {
    font-size: 24px;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -550px;
}

.flex {
    display: flex;
}

.flex-item {
    width: 200px;
    height: 30px;
    margin-right: 10px;

}

.shop {
    display: block;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 200px;
}

.top-bar {
    background-color: rgb(0, 0, 0);
    height: 70px;
    display: flex;
    align-items: center;
    text-align: right;
    gap: 50px;

 }

 .link-color {
    color: white;
    text-decoration: none;
 }

.h1-color {
    color: white;
    font-family: cursive;
}

.img-size {
    width: 30px;
}

.margin {
    margin-left: 30px;
    margin-right: 30px;
}

.blog-font {
    font-family: sans-serif;
}


.container {
    width: 100%;
    text-align: right;
    padding: 20px;
}
