

.body-color {
    background-color: LightSkyBlue;
}

.cookieButton {
    display: block;
    margin: auto;
    font-size: 24px;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    background-color: brown;
    border: 3px solid black;
    border-radius: 50%;

}

.counter-location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

.href-margin {
    margin-left: 30px;
}

.hr-margin {
    margin-left: 30px;
    margin-right: 30px;
}

.mouseenter1 {
    margin-top: 95px;
    width: 205px;
    height: 205px;
}

.counter {
    font-size: 24px;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -450px;
}


.shop {
    margin-right: 50px;
    font-size: 24px;
    background-color: SlateBlue;
    margin-bottom: 10px;
}